In [12]:
import pandas as pd
import re
from scipy.stats import chi2_contingency

In [22]:
def get_age_category(age_gender):
    age = float(re.findall(r'\d+', age_gender)[0])  # Extract the numeric age from the string
    if 1 <= age <= 12:
        return "Children"
    elif 13 <= age <= 17:
        return "Adolescents"
    elif 18 <= age <= 34:
        return "Younger Adults"
    elif 35 <= age <= 64:
        return "Adults"
    elif age >= 65:
        return "Older adults"
    else:
        return "Unknown"  # Handle any other cases if needed

In [28]:
df = pd.read_csv("theme_park_injuries_ride_type.csv")
df["age_category"] = df["age_gender"].apply(get_age_category)
df.head()
cross_table = pd.crosstab(df["age_category"], df["type"])
cross_table.head()

type,coaster,dark ride,lazy river,log flume,motion simulator,playground,river rapids,scenic,show,spin,water slide
age_category,,,,,,,,,,,
Adolescents,9,2,1,1,3,1,0,0,0,0,1
Adults,122,55,15,6,70,3,15,12,4,19,19
Children,8,7,3,0,3,4,1,3,1,2,4
Older adults,45,55,6,1,46,1,1,27,2,22,2
Younger Adults,34,10,3,2,15,1,6,2,0,3,4

In [29]:
chi2, p_value, dof, expected = chi2_contingency(cross_table)

# Output the results
print("Chi-Squared test statistic:", chi2)
print("P-value:", p_value)
print("Degrees of freedom:", dof)
print("Expected frequencies table:")
print(pd.DataFrame(expected, index=cross_table.index, columns=cross_table.columns))

Chi-Squared test statistic: 114.31076338555462
P-value: 4.435889621341447e-09
Degrees of freedom: 40
Expected frequencies table:
type               coaster  dark ride  lazy river  log flume  \
age_category
Adolescents       5.753666   3.404692    0.739003   0.263930
Adults          108.680352  64.310850   13.958944   4.985337
Children         11.507331   6.809384    1.478006   0.527859
Older adults     66.486804  39.343109    8.539589   3.049853
Younger Adults   25.571848  15.131965    3.284457   1.173021

type            motion simulator  playground  river rapids     scenic  \
age_category
Adolescents             3.615836    0.263930      0.607038   1.161290
Adults                 68.299120    4.985337     11.466276  21.935484
Children                7.231672    0.527859      1.214076   2.322581
Older adults           41.782991    3.049853      7.014663  13.419355
Younger Adults         16.070381    1.173021      2.697947   5.161290

type                show       spin  water slide
age_category
Adolescents     0.184751   1.214076     0.791789
Adults          3.489736  22.932551    14.956012
Children        0.369501   2.428152     1.583578
Older adults    2.134897  14.029326     9.149560
Younger Adults  0.821114   5.395894     3.519062

In [30]:
alpha = 0.05
if p_value <= alpha:
    print("Reject the null hypothesis. There is a significant association between age group and ride type.")
else:
    print("Fail to reject the null hypothesis. There is no significant association between age group and ride type.")

Reject the null hypothesis. There is a significant association between age group and ride type.