In [1]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Reading the CSV file into a pandas DataFrame
df = pd.read_csv("theme_park_injuries.csv")
df

,Company,Incident_date,Ride_name_dirty,Ride_name,Theme_Park,age_gender,description
0,Disney World,6/9/2022,Alien Swirling Saucers,Alien Swirling Saucers,Hollywood Studios,59 yof,guest with pre-existing condition sustained in...
1,Disney World,10/5/2014,Astro Orbiter,Astro Orbiter,Magic Kingdom,68 yom,"guest fell exiting vehicle, developed blood c..."
2,Disney World,12/3/2009,Astro Orbitor,Astro Orbiter,Magic Kingdom,40 yof,fractured left ankle exiting ride
3,Disney World,8/7/2022,Avatar Flight of Passage,Avatar Flight of Passage,Animal Kingdom,83 yom,guest with pre-existing condition was briefly ...
4,Disney World,4/19/2022,Avatar Flight of Passage,Avatar Flight of Passage,Animal Kingdom,42 yof,guest with pre-existing condition had motion s...
...,...,...,...,...,...,...,...
677,Disney World,7/21/2019,Under the Sea Journey of the Little Mermaid,Under the Sea - Journey of the Little Mermaid,Magic Kingdom,69 yof,guest with pre-existing medical condition had ...
678,Disney World,6/2/2017,Under the Sea- Journey of the Little Mermaid,Under the Sea - Journey of the Little Mermaid,Magic Kingdom,34 yom,felt disoriented and fell after riding
679,Disney World,7/4/2016,Walt Disney World Railroad,Walt Disney World Railroad,Magic Kingdom,41 yom,guest felt ill and began shaking after exiting.
680,Disney World,5/5/2015,Walt Disney World Railroad,Walt Disney World Railroad,Magic Kingdom,71 yom,nausea and dizziness
681,Disney World,6/18/2022,Wildlife Express,Wildlife Express,Animal Kingdom,42 yom,guest felt ill after experiencing the attraction

In [3]:
# List the columns of the DataFrame
column_list = df.columns.tolist()

# Print the column list
print(column_list)

['Company', 'Incident_date', 'Ride_name_dirty', 'Ride_name', 'Theme_Park', 'age_gender', 'description']

In [4]:
# Remove the dirty' data column
df = df.drop('Ride_name_dirty', axis=1)
df.head()

,Company,Incident_date,Ride_name,Theme_Park,age_gender,description
0,Disney World,6/9/2022,Alien Swirling Saucers,Hollywood Studios,59 yof,guest with pre-existing condition sustained in...
1,Disney World,10/5/2014,Astro Orbiter,Magic Kingdom,68 yom,"guest fell exiting vehicle, developed blood c..."
2,Disney World,12/3/2009,Astro Orbiter,Magic Kingdom,40 yof,fractured left ankle exiting ride
3,Disney World,8/7/2022,Avatar Flight of Passage,Animal Kingdom,83 yom,guest with pre-existing condition was briefly ...
4,Disney World,4/19/2022,Avatar Flight of Passage,Animal Kingdom,42 yof,guest with pre-existing condition had motion s...

In [5]:
# Assuming you already have loaded the data into the DataFrame 'df'
# If not, you can load the data using: df = pd.read_csv("theme_park_injuries.csv")

# Count the number of columns in the DataFrame
num_columns = df.shape[1]

# Print the number of columns
print("Number of columns:", num_columns)

Number of columns: 6